nav {
  background: #202225;
  float: left;
  height: 100%;
  width: 72px;

  align-items: self-start; /* Align horizontally */
  gap: 15px; /* Vertical gap between the links */
  padding-top: 12px;
  transition: width 0.1s ease;
}

.nav-icons {
  background: #202225;
  float: left;
  height: 100%;
  width: 72px;

  display: flex; /* Use Flexbox */
  flex-direction: column; /* Stack one on top of another */
  align-items: center; /* Align horizontally */
  gap: 15px; /* Vertical gap between the links */
  padding-top: 12px;
  transition: width 0.1s ease;
}

.nav-info {
  display: none;
}
nav:hover .nav-info {
  display: flex; /* Use Flexbox */
  background: #202225;
  float: left;
  height: 100%;
  flex-direction: column; /* Stack one on top of another */
  align-items: center; /* Align horizontally */
  gap: 15px; /* Vertical gap between the links */
  padding-top: 12px;
  transition: width 0.1s ease;
  width: 200px;
  align-items: flex-start;
}

.nav-icons .list-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

nav:hover {
  width: 20rem;
}

nav:hover .info-container {
  display: flex;
}
.info-container {
  display: none;
  align-items: center; /* Vertically center the items */
  margin-left: 1rem;
  height: 48px;
}
.list-container {
  display: flex;
  align-items: center;
  gap: 15px;
}
nav a {
  display: block;
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  border-radius: 50%; /* Makes a circle */
  background: #36393f;

  transition: border-radius 250ms, background 250ms;
}

nav a.add-member {
  margin-left: 0.5rem;
  height: 36px !important;
  width: 36px !important;
}

nav hr {
  display: block;
  width: 32px;
  height: 2px;
  border-radius: 196px;
  border: none; /* Removes a white border that exists by default */
  background: #36393f;
}

nav hr.info {
  display: none;
  margin-left: 1rem;
  width: 100%;
}

nav:hover hr.info {
  display: block;
}
nav a:hover,
nav a.active {
  border-radius: 25%;
  background: #3ba55d;
}

.add {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add:hover #add-icon {
  color: white;
}
